<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="ca.maple.swan.swift.server.Server" />
    <module name="swan.ca.maple.swan.swift.server.main" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>